<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Page</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
        <div class="row">
            <div class="col-md-5">
                <img src="{{member.image_source}}" alt="Profile image for {{ member.name }}">
                <h2 class="col-md-7">{{ member.name }}</h2>
            </div>
        </div>

        <div class="col-md-12">
            <p>{{ member.description }}</p>
        </div>
    {% endblock %}
</body>
</html>